.projects-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-auto-rows: minmax(300px, auto);
	grid-row-gap: 10px;
	justify-items: center;
	align-items: start;
}

.project-card {
	width: 300px;
}

.project-title {
	padding-top: 10px;
}

h2 {
	text-align: center;
}

p {
	color: black;
}
