.chatContainer {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 40px 1fr 40px;
	/* border: 1px solid black; */
}

.chatHeader {
	display: flex;
	grid-column: 1/4;
	grid-row: 1;
	justify-content: space-between;
	/* border: 1px solid blue; */
}

.chatSideBar {
	grid-column: 1;
	grid-row: 2;
}

.displayMessages {
	grid-column: 2/4;
	grid-row: 2;
	/* border: 1px solid green; */
}

.sendMessage {
	display: flex;
	grid-column: 1/4;
	grid-row: 3;
	/* border: 1px solid red; */
}
